// 商品图片触摸动画效果
.hoverShadow() {
  transition: all 0.5s;
  &:hover {
    transform: translate3d(0, -3px, 0);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }
}
// 链接触摸颜色效果
.hoverLink(@color) {
  transition: all 0.3s;
  &:hover {
    color: if(isColor(@color), @color, #27ba9b);
  }
}
// 单行文本
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 多行文本
.ellipsis-n(@num) {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: @num;
  overflow: hidden;
}
